<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Shopline 客戶列表</h5>
        </div>
        
        <div class="card-body">
          <!-- 會員等級切換 -->
          <ul class="nav nav-tabs">
            <% ["黑卡", "金卡", "銀卡", "白卡", "一般會員","nil"].each do |level| %>
              <% count = @membership_counts[level] || 0 %>
              <li class="nav-item">
              <%= link_to "#{level || '未分類'} (#{count})",
              admin_shopline_customers_path(membership_level: level),
              class: "nav-link #{'active' if params[:membership_level] == level}" %>
              </li>
            <% end %>
          </ul>

          <div class="table-responsive mt-3">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>累積金額</th>
                  <th>訂單數</th>
                  <th>IG</th>
                  <th>動作</th>
                </tr>
              </thead>
              <tbody>
                <% @shopline_customers.each do |customer| %>
                  <tr>
                    <td>
                      <%= link_to customer.full_name, admin_shopline_customer_path(customer) %>
                    </td>
          
                    <td>
                      <%= number_to_currency(customer.total_amount, unit: 'NT$') if customer.total_amount.present? %>
                    </td>
          
                    <td><%= customer.order_count %></td>
          
                    <td>
                      <% if customer.instagram_account.present? %>
                        <% username = customer.instagram_account.gsub('@', '') %>
                        <%= link_to customer.instagram_account, "https://www.instagram.com/#{username}", target: "_blank", rel: "noopener" %>
                      <% end %>
                    </td>
          
                    <td>
                      <%= link_to '編輯', edit_admin_shopline_customer_path(customer), class: 'btn btn-sm btn-primary' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        

          <!-- Pagy 分頁控制 -->
          <div class="pagination-container mt-3 d-flex justify-content-center">
            <%== pagy_bootstrap_nav(@pagy) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
