<!DOCTYPE html>
<%= render 'shared/copyright_header' %>
<html lang="en">
<head>
  <%= render 'shared/head' %>

  <%# Optional: page related CSS %>
  <%= yield :head_block %>
</head>
<body>

<%= yield %>

<%= render 'shared/scripts_base_plugins' %>
<%# Custom scripts per page can be added. %>
<%= yield :scripts_block %>
</body>
</html>